/* DOCUMENT */
body {
	background-color: #F0F0F0;
	font-family: 'Raleway', sans-serif;
	margin: 0;
    padding: 0;
}

a:link {
	color: #F29B0F;
}

a:visited {
	color: #A5510A;
}

img {
    height: auto;
    max-width: 100%;
}

/* NAV BAR */

#navBar {
	position: fixed;
	width: 100vw;
	height: 50px;
	background-color: #6EC5B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navBar li a {
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

#navBar li a:hover {
    background-color: #C7BAA7;
}


/* SOCIAL MEDIA BUTTONS */

#socialMediaButtons1, #socialMediaButtons2 {
    margin: 0 auto;
}

.button{
    transition: all 0.3s ease 0s;
    background-color: #6EC5B8;
    background-size: cover;
    border: 0px solid white;
    border-radius: 50%;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
}

#buttonLinkedIn1, #buttonLinkedIn2 {
    background-image: url("media/linkedin.png");
    background-size: 30px;
}

#buttonHandshake1, #buttonHandshake2 {
    background-image: url("media/handshake.png");
    background-size: 35px;
}

#buttonGitHub1, #buttonGitHub2 {
    background-image: url("media/github.png");
    background-size: 45px;
}

#buttonItch1, #buttonItch2 {
    background-image: url("media/itch.png");
    background-size: 38px;
}

.button:hover {
	cursor: pointer;
}

#buttonHandshake1:hover, #buttonHandshake2:hover {
    background-color: #fccd32;
}

#buttonLinkedIn1:hover, #buttonLinkedIn2:hover {
    background-color: #1c78b2;
}

#buttonGitHub1:hover, #buttonGitHub2:hover {
    background-color: #171516;
}

#buttonItch1:hover, #buttonItch2:hover {
    background-color: #f4565b;
}


/* HEADER */
#header {
    background-image: url("media/orange_poly.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #4F4F4F;

    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    font-size: 200%;

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ABOUT ME */
#aboutContainer { 
    background-color: #FF9000;
	width: 100%;
}

#about {
	background-color: #F0F0F0;
    min-height: 20em;
	margin: 0 auto;
	padding-left: 2em;
	padding-right: 2em;
    width: 90%;
    max-width: 40em;
}

#about h2 {
	text-align: center;
}

#breakAboutProject {
    background-color: #978B7D;
    min-height: 1em;
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
}


/* PROJECTS */

#projectsContainer {
    width: 100%;
    background-color: #ffac00;
}

#root {
    display: flex;
    flex-direction: column;
}

#tabContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}
.tab:hover {
    cursor: pointer;
}

#routerContainer {
    background-color: #f0f0f0;
}

.tabView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbView {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

/* CONTACT ME */

#contactContainer { 
	background-color: #FFAC00;
    min-height: 15em;
	width: 100%;
}

#breakProjectContact {
    background-color: #978B7D;
    min-height: 1em;
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
}

#contact {
	text-align: center;
	min-height: 15em;
    width: 90%;
    max-width: 40em;
	margin: 0 auto;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #F0F0F0;
	font-family: 'Raleway', sans-serif;
	color: black;
}

#contactLogo {
    display: inline-block;
    vertical-align: middle;
}

#contactButtons {
    display: inline-block;
    vertical-align: middle;
}

#copyright {
	height: 80px;
	text-align: center;
	width: 100%;

	background-color: #978B7D;
}

/*
**********************************
MOBILE STYLE
**********************************
*/
@media screen and (max-width: 640px) {
    
    body {
        width: 100%;
    }
    
    iframe {
        height: 80%;
        width: 80%;
    }
    
    #buttonsContainer {
        position: static;
        width: 100%;
        height: auto;
    }
    
    #buttons {
        width: 100%;
        background-color: #978B7D;
    }
    
    #buttons ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #buttons li {
        text-align: center;
        width: 100%;
        margin: 0.2em;
        padding: 0.2em;
        background-color: #6EC5B8; 
    }
    
    #buttons li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 0;
        transition: none;
    }
    
    #header {
        width: 100%;
        background-attachment: scroll;
    }
    
    #aboutContainer { 
        width: 100%;
    }

    #about {
        width: 75%;
        max-width: none;
    }
    
    #breakAboutProject {
        width: 75%;
        max-width: none;
    }

    #contactContainer { 
        width: 100%;
    }

    #breakProjectContact {
        width: 75%;
        max-width: none;
    }
   

    #contact {
        width: 75%;
        max-width: none;
    }
    
}